:root {
	--accent: #f9e2af;
	--bg-2: hsl(220, 10%, 17%);
	--bg-3: hsl(220, 10%, 11%);
	--bg-4: hsl(220, 10%, 16%);
	--bg-t-2: hsla(220, 12%, 5%, 0.5);
	--bg-t: hsla(220, 12%, 5%, 0.25);
	--bg: hsl(220, 10%, 8%);
	--border-d: #334155;
	--border: hsl(0, 0%, 100%);
	--error: #f38ba8;
	--gradient-primary: linear-gradient(90deg, #CF5DEB 0%, #9F3DFA 100%);
	--gradient-secondary: linear-gradient(90deg, var(--txt-1) 0%, var(--txt) 100%);
	--success: #a6e3a1;
	--txt-1: hsl(220, 45%, 90%);
	--txt-2: hsl(220, 14%, 55%);
	--txt-3: hsl(220, 11%, 35%);
	--txt-4: #000000;
	--txt: hsl(220, 30%, 80%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg);
	color: var(--txt);
	font-family: "Source Code Pro", monospace;
	line-height: 1.6;
	padding: 1rem;
}

header {
	margin-bottom: 2rem;
	text-align: center;
}

.dropdown {
    color: var(--txt-1);
    min-width: 200px;
    position: relative;
}

.dropdown__selected {
    align-items: center;
    background: var(--bg);
    border: 1px solid #ccc;
    border-radius: 7.5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    user-select: none;
}

.dropdown__arrow {
    transition: transform 0.2s ease;
}

.dropdown.open .dropdown__arrow {
    transform: rotate(180deg);
}

.dropdown__list {
    -ms-overflow-style: none;
    background: var(--bg);
    border: 1px solid #ccc;
    border-radius: 7.5px;
    box-shadow: var(--shadow);
    display: none;
    left: 0;
    margin-top: -47px;
    max-height: 350px;
    overflow-y: auto;
    position: absolute;
    right: 0;
    scrollbar-width: none;
    top: 100%;
    z-index: 10;
}

.dropdown.open .dropdown__list {
    color: var(--text-color);
    display: block;
}

.dropdown__item {
    cursor: pointer;
    padding: 10px;
    transition: background 0.2s ease;
}

.dropdown__item:hover {
    background: var(--dropdown-hover);
}

.dropdown__item.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.dropdown__item.active {
    background-color: var(--tertiary);
    font-weight: bold;
}

.image-container {
    border: 1px solid var(--border);
    border-radius: 10px;
    margin: auto;
    max-width: 750px;
    padding: 10px;
    width: 100%;
}

.image-date-head {
    border: none;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

img {
    border-radius: 10px;
    display: block;
    width: 100%;
}

.toggle-button {
    background-color: transparent;
    border: 1px solid var(--accent);
    border-radius: 6px;
    color: var(--accent);
    cursor: pointer;
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.toggle-button:hover {
    background-color: var(--accent);
    color: var(--bg);
}

.description {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 0.5rem;
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.description.show {
    max-height: 500px;
    opacity: 1;
    padding: 0.5rem 0.5rem;
    transform: translateY(0);
}

.description div {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0;
}

.description div > a:first-child {
    font-weight: bold;
}

.description div > a:nth-child(2) {
    text-align: right;
}

.lazy-image {
    opacity: 0.3s ease;
    transition: filter 0.5s ease;
}

.location-linkout {
    color: var(--txt);
    text-decoration: none;
}

.location-linkout:hover {
    text-decoration: underline;
}

.lens-table {
    text-align: center;
    width: 100%;
}

.lens-table td {
    width: 33%;
}

.lens-table td:nth-child(2) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

@media (max-width: 600px) {
	main > div.flex-container.gap-20px.alignitems-center.justifycontent-center.margin-0auto {
		flex-direction: column;
	}

	.dropdown {
		width: 100%;
	}

	.dropdown__selected {
		width: 100%;
	}
}